/* RESET CSS */
*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-y: hidden;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
a {
    text-decoration: none;
    color: inherit;
}

/* START NAVBAR CSS */
#NavBar {
    padding: 15px 25px 15px 25px;
    background-color: #020203;
}

#NavBar .logo{
    width: 178px;
}

#NavBar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 24px;
    font-weight: 400;
    color: white;
}

#NavBar ul a:hover{
    text-decoration: underline;
}
/* END NAVBAR CSS */


/* START VERTICAL NAVBAR CSS */
#NavBar-vertical {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #020203;
    padding: 200px 25px 0px 25px;
    position: fixed;
}

#NavBar-vertical .all-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#NavBar-vertical .btn-icon {
    padding: 15px;
    background: white;
    border-radius: 5px;
    
}

#NavBar-vertical .btn-icon:hover {
    background: rgb(223, 223, 223);   
}

#NavBar-vertical p {
    position: absolute;
    bottom: 195px;
    left: -40px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: white;
    font-size: 15px;
    white-space: nowrap;
}
/* END VERTICAL NAVBAR CSS */

/* START FEED CSS */
#Feed {
    margin-left: 160px;
}
.data-recap {
    display: flex;
    gap: 30px;
    width: 100%;
}

.charts-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 65%;
}

.charts-div-line-2 {
    display: flex;
    justify-content: space-between;
}

.hello-text {
    padding-top: 50px;
    font-size: 48px;
    font-weight: 400;
}

.hello-text span {
    color: #FF0101;
}

.motivation-text {
    font-size: 18px;
    font-weight: 400;
}
.recaps-div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
/* END FEED CSS */

/* START RECAP CSS */

#Recap {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 25px;
    width: 260px;
    background-color: #FBFBFB;
}

.icon-Calories {
    background-color: rgba(255, 0, 0, 0.2);
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
}
.icon-Proteines {
    background-color: rgba(74, 184, 255, 0.2);
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
}
.icon-Glucides {
    background-color: rgba(249, 206, 35, 0.2);
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
}
.icon-Lipides {
    background-color: rgba(253, 81, 129, 0.2);
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
}

.Recap-desc .Recap-desc-value {
    color: #282D30;
    font-size: 20px;
}

.Recap-desc .Recap-desc-title {
    color: #74798C;
    font-size: 14px;
}

/* END RECAP CSS */

/* START BARCHART CSS */

#bar-charts {
    width: 100%;
    background-color: #FBFBFB;
    padding: 30px;
}

#bar-charts .bar-charts-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

#bar-charts .bar-charts-header p{
    font-size: 15px;
    font-weight: 600;
}

#bar-charts .bar-charts-header ul{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
}
#bar-charts .bar-charts-header-legend li {
    display: flex;
    align-items: center;
    gap: 10px;
  }
#bar-charts .bar-charts-header-legend li::before {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 15px;
  }
#bar-charts .bar-charts-header-legend li:first-child::before {
    background-color: #282d30;
}
#bar-charts .bar-charts-header-legend li:last-child::before {
    background-color: #e60000;
}

#bar-charts .custom-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #e60000;
    color: white;
    padding: 10px;
}

#bar-charts .custom-tooltip label-kg {
    padding-bottom: 10px;
}

/* END BARCHART CSS */

/* START LINECHART CSS */

#line-charts {
    width: 270px;
    height: 270px;
    background-color: #FF0000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#line-charts .line-charts-title{
    color: #FF8080;
    padding: 30px;
    font-weight: 600;
    position: absolute;
}

#line-charts .custom-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 10px;
    font-weight: 600;
}

/* END LINECHART CSS */

/* START RADARCHART CSS */

#radar-charts {
    width: 270px;
    height: 270px;
    background-color: #282D30;
    border-radius: 10px;
}

#radar-charts tspan{
    font-size: 12px;
    font-weight: 600;
}

/* END RADARCHART CSS */

/* START RADARCHART CSS */

#pie-charts {
    width: 270px;
    height: 270px;
    background-color: #FBFBFB;
    border-radius: 10px;
}

#pie-charts p{
    padding: 30px 0px 0px 30px;
}

#pie-charts .custom-legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
}

#pie-charts .custom-legend p{
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #74798C;
}


/* END RADARCHART CSS */